*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app{
    display: flex;
    justify-content:space-between;
    height:100vh;
    width: 100%;
    padding:1.5rem;
    gap:1px;
}
    

.textarea{
 height:70%;
 width:50%;
 background-color:rgb(240, 240, 240) ;
 outline: none;
 border:none;
 padding:15px;
}
.preview{
    height:70%;
    width:50%;
    padding:15px;
    background-color: rgb(197, 197, 197);
    overflow:auto;
}